@media (min-width:768px) {
  .swiper {
    height: 100vh;
    margin-left: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .swiper__title {
    margin-bottom: 40px;
  }

  .swiper-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:24px;
    row-gap: 16px;
    height: auto;
    margin-bottom: 24px;
  }

  .swiper-slide {
    width:224px;
  }

  .swiper-slide:nth-child(n + 7) {
    display:none;
  }

  .swiper__show:nth-child(n + 7) {
  display: flex;
}

  .swiper-pagination {
    display: none;
  }

  .swiper__handler {
    display:inline-block;
  }

}

@media (min-width:1024px)  {
  .swiper {
    padding-left: 32px;
    padding-right: 32px;
  }

  .swiper-wrapper {
    column-gap: 32px;
  }

   .swiper-slide {
    width:240px;
  }

    .swiper-slide:nth-child(n + 7) {
    display:flex;
  }

  .swiper-slide:nth-child(n + 9) {
    display:none;
  }

  .swiper__show:nth-child(n + 9) {
  display: flex;
}

}